{% extends face.html %}

{% block conteudo %}

    <div>
        <table>
            <th>
                <td>Código de Estudante</td>
                <td>Estudante</td>
                <td>Nome do Pai</td>
                <td>Nome da Mãe</td>
                <td>Data de Nascimento</td>
                <td>CPF</td>
                <td>Documento de Identidade</td>
                <td>Emissor do Documento</td>
                <td></td>
            </th>
            <tr>

            </tr>
        </table>
    </div>
    {% for aluno in estudantes %}

    {% endfor %}
{% endblock %}